
body{
    background-color: $background-color;
}

h1{
    color: $color-fuente;
    size: $tamano-h1;
}

p{
    color: $color-fuente;
    font-size: $tamano-fuente;
}

.explicacionTienda{
background-color: rgb(228, 200, 164);
}
#tienda{
    display: contents;
}

.imagenDeMuestra {
margin-top: 40px;
 width: 300px;
 height: 300px;
}

.filter{
    visibility: hidden;
    opacity: 0;
    order: 1;
}